* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #2F3238;
}

#header_container,
#footer_container {
    min-height: 200px;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

#header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page_container {
    margin: 30px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-inner {
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
}

.card-inner>img {
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    width: 320px;
    height: 320px;
}

.card-inner>img:hover {
    transform: scale(1.2);
}

.card-inner .breed-name h3 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
}

.breed-name {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 5px;
    bottom: 0;
}

.type {
    color: black;
}

.btn{
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background: transparent;
}

.all-dogs-btn,
.sub-list-btn{
    color: black;
    border: 2px solid #2F3238;
}

.all-dogs-btn:hover, .sub-list-btn:hover {
    background-color: #2F3238;
    color: white;
  }

  .loader{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1abc9c;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }

 
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



@media(max-width:1080px) {
    .card-inner {
        flex: 100%;
        max-width: 480px;
    }
}

@media(max-width:400px) {
    .card-inner .breed-name h3 {
        font-size: 16px;
    }
}