*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #2F3238;
}


#header_container,
#footer_container
{
  min-height: 200px;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;

}


#page_container{
    margin: 30px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-inner{
    background: #50A7FF;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    cursor: pointer;
}

.card-inner > img{
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    width: 320px;
    height: 320px;
}

.card-inner > img:hover{
    transform: scale(1.2);
    opacity: 1;
}


.card-inner  .breed-name h3{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
} 


.breed-name{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 5px;
    bottom: 0;
}

.type{
    color: black;
}


@media(max-width:1080px){
    .card-inner{
        flex: 100%;
        max-width: 480px;
    }
}

@media(max-width:400px){
    .card-inner .breed-name h3{
        font-size: 16px;
    }
}